<div class="container">

    <!--Start Of Project List-->
    <div class="row row-cols-3">
        <div class="col">
            <div class="project-inner">
                <header>
                    <div class="row project-top">
                        <div class="col folder">
                            <i class="far fa-folder fa-2xl"></i>
                        </div>
                        <div class="col project-links">
                            <a href="#"><i class="fa fa-github fa-2xl"></i></a>
                            <a href="#"><i class="fa-solid fa-link fa-2xl"></i></a>
                        </div>
                    </div>
                    <h3 class="project-title">This is a Test Title</h3>
                    <div class="project-desc">
                        <p>This is a test description for a project that is not real. It is, in fact, a test project.</p>
                    </div>
                </header>
                <footer>
                    <ul class="project-tech-list">
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col">
            <div class="project-inner">
                <header>
                    <div class="row project-top">
                        <div class="col folder">
                            <i class="far fa-folder fa-2xl"></i>
                        </div>
                        <div class="col project-links">
                            <a href="#"><i class="fa fa-github fa-2xl"></i></a>
                            <a href="#"><i class="fa-solid fa-link fa-2xl"></i></a>
                        </div>
                    </div>
                    <h3 class="project-title">This is a Test Title</h3>
                    <div class="project-desc">
                        <p>This is a test description for a project that is not real. It is, in fact, a test project.</p>
                    </div>
                </header>
                <footer>
                    <ul class="project-tech-list">
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col">
            <div class="project-inner">
                <header>
                    <div class="row project-top">
                        <div class="col folder">
                            <i class="far fa-folder fa-2xl"></i>
                        </div>
                        <div class="col project-links">
                            <a href="#"><i class="fa fa-github fa-2xl"></i></a>
                            <a href="#"><i class="fa-solid fa-link fa-2xl"></i></a>
                        </div>
                    </div>
                    <h3 class="project-title">This is a Test Title</h3>
                    <div class="project-desc">
                        <p>This is a test description for a project that is not real. It is, in fact, a test project.</p>
                    </div>
                </header>
                <footer>
                    <ul class="project-tech-list">
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col">
            <div class="project-inner">
                <header>
                    <div class="row project-top">
                        <div class="col folder">
                            <i class="far fa-folder fa-2xl"></i>
                        </div>
                        <div class="col project-links">
                            <a href="#"><i class="fa fa-github fa-2xl"></i></a>
                            <a href="#"><i class="fa-solid fa-link fa-2xl"></i></a>
                        </div>
                    </div>
                    <h3 class="project-title">This is a Test Title</h3>
                    <div class="project-desc">
                        <p>This is a test description for a project that is not real. It is, in fact, a test project.</p>
                    </div>
                </header>
                <footer>
                    <ul class="project-tech-list">
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>