html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dropdown-menu {
    background-color: darkgray;
}

.dropdown-item {
   color: gray;
}

.navbar-dark {
    background-color: #8a2be2;
    outline-style: solid;
    outline-color: #e4cef8;
}

.footer {
    background-color: #8a2be2;
    outline-style: solid;
    outline-color: #e4cef8;
}

footer a {
    background-image: none !important;
    background-repeat: no-repeat !important;
    text-decoration: none !important;
    color: white !important;
}