html {
  font-size: 14px;
}

@media (min-width: md) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9567E0;
}

.navbar-dark {
    background-color: #6F3096;
    outline-style: solid;
    outline-color: #56B6C4;
}

.footer {
    background-color: #6F3096;
    outline-style: solid;
    outline-color: #56B6C4;
}

footer a {
    background-image: none !important;
    background-repeat: no-repeat !important;
    text-decoration: none !important;
    color: white !important;
}

.project-inner {
    color: #56B6C4;
    padding: 20px;
    margin-top: 35px;
    outline: solid;
    background-color: #6F3096;
    outline-color: #56B6C4;
    border-radius: 5px;
}

.project-top {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
}

.project-tech-list {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.project-inner li {
    margin-right: 15px;
}

.project-links {
    align-items: flex-end;
}

.fa-github {
    color: #e4cef8;
}